{% include "header-loggedin.html" %}
{% set user = dict(session.get('currentUser')) %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="jumbotron">
    <h1>Add Food</h1>

    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>

</div>


<script>

    $(function() {
        var availableTags = {{ foods|tojson|safe }};

        $("#tags").autocomplete({
            source: availableTags,
            minLength: 3,
            delay: 500
        });
    });

</script>

{% include "footer.html" %}
