{% include "header-loggedin.html" %}
{% set user = dict(session.get('currentUser')) %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="{{ url_for('static', filename='css/addFood-style.css') }}" rel="stylesheet">

<div class="jumbotron">
    <h1>Add Food</h1>

    <!-- MAKE A GENERAL 'FOOD' PAGE, DISPLAY FOODS EATEN TODAY, ALLOW EDITING, ADD FOOD AT BOTTOM

    <h4>date</h4> CHANGEABLE
    <ul>
        <li>food</li> EDITABLE, DROPDOWN FOR NUTRIENTS
        <li>food</li>
    </ul>
-->

    <div class="ui-widget">
        <form class="form-signin" method="post" onSubmit="submitForm()">
            <label for="food">Food: </label>
            <input id="food" name="food" class="selector" placeholder="Pop Tart" required autofocus>

            <label for="measure">Measure:</label>
            <select class="form-control" name="measure" id="measure">
                <!-- Dynamically populated from DB when a food is selected -->
                <option value="1 pastry">1 pastry</option>
            </select>

            <label for="servings">Servings: </label>
            <input id="servings" name="servings" value="1" required>

            <input class="btn btn-primary" type="submit">
        </form>
    </div>


    <!-- Display the food eaten today -->

</div>


<script>
    $(function() {
        // Get the foods in the database to autofill the search bar
        var availableFoods = {{ foods|tojson|safe }};

        // Names only, to allow autofill
        var foodNames = [];
        for (var i = 0; i < availableFoods.length; i++) {
            foodNames[i] = availableFoods[i][2];
        }

        // Don't overload the server tho
        $("#food").autocomplete({
            source: foodNames,
            minLength: 3,
            delay: 500
        });
    });

    // Event listener for an option being selected from the autocomplete
    $(".selector").on( "autocompleteselect", function(event, ui) {
        var options = $("#measure");

        var selectedFood = ui.item.value;
        var availableFoods = {{ foods|tojson|safe }};

        // Search for selected food in list
        var foodFull = 0;
        for (var i = 0; i < availableFoods.length; i++) {
            if (selectedFood == availableFoods[i][2]) {
                foodFull = availableFoods[i];
                break;
            }
        }

        // Get measures
        var availableWeights = {{ weights|tojson|safe }};

        var availableMeasures = [];
        for (var i = 0; i < availableWeights.length; i++) {
            if (foodFull[0] == availableWeights[i][0]) {
                availableMeasures.push(availableWeights[i]);
                break;
            }
        }

        // Remove any options from previous choice (or placeholder)
        numOptions = options.length;
        for (var i = 0; i < numOptions; i++) {
            options[0][i].remove()
        }

        for (var i = 0; i < availableMeasures.length; i++) {
            // Value in the select is the measure in grams
            options.append('<option value="' + availableMeasures[i][4] + '">' + availableMeasures[i][2] + " " + availableMeasures[i][3] + '</option>');
        }

    });

    // Give the form to the backend
    function submitForm() {
        $.ajax({
            url: '/addFood',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                window.location = response;
            },
            error: function(error) {
                console.log(error);
            }
        });
    };
</script>


{% include "footer.html" %}
