{% include "header.html" %}

{% set user = dict(session.get('currentUser')) %}

<div class="jumbotron">
    <h1>Welcome, {{ user['_User__name'] }}!</h1>
    <p class="lead"></p>

    <ul>
        <li>{{ user['_User__dob'] }}</li>
        <li>{{ user['_User__sex'] }}</li>
        <li>{{ user['_User__activity'] }}</li>
        <li>{{ user['_User__height'] }}</li>
        <li>{{ user['_User__weight'] }}</li>
        <li>{{ user['_User__email'] }}</li>
    </ul>

</div>


{% include "footer.html" %}
