{% include "header-loggedin.html" %}
{% set user = dict(session.get('currentUser')) %}


<div class="jumbotron">
    <h1>Nutrition</h1>

    <form class="form-signin" method="post">
        <label for="food" class="sr-only">Food:</label>
        <input type="text" name="inputFood" id="inputFood" class="form-control" placeholder="Cheddar Cheese" required autofocus>

        <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>

</div>

{% include "footer.html" %}
