{% include "header-loggedout.html" %}
<link href="../static/css/signup-style.css" rel="stylesheet">

<div class="jumbotron">
    <h1>Sign In</h1>

    <form class="form-signin" method="post" onSubmit="submitForm()">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>


<!-- Send data to signIn method -->
<script>
    function submitForm() {
        $.ajax({
            url: '/signIn',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                window.location = response;
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>



{% include "footer.html" %}
